# PyScaffold's configuration file, see:
# https://pyscaffold.org/en/latest/configuration.html
#
# Accepted in `metadata`: author, author_email and license.
# Accepted in `pyscaffold`: extensions (and associated opts).
[metadata]
[pyscaffold]
version = 4.5
extensions =
    github_actions
    no_skeleton
    pre_commit
